
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% load static %}
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles2.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles3.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-header">
                <h1>Health World</h1>
            </div>
            <div class="navbar-options">
                <ul>
                    <li><i class="fa-solid fa-house"></i><a href=""> Home</a></li>

                    <li><i class="fa-solid fa-user"></i><a href="{% url 'patient_pro' request.user.id%}"> Profile</a></li>

                    <li><i class="fa-solid fa-calendar-check"></i><a href=""> Appointments</a></li>

                    <li><i class="fa-solid fa-arrow-right-from-bracket"></i><a href="{% url 'logout' %}"> Logout</a></li>
                </ul>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        {% block form%}
        {% endblock %}
        <script src="" async defer></script>
    </body>
</html>