{% extends 'authentication/base.html' %}
{% block title %}Dashboard{% endblock %}
{% load static %}

    {% block content %}
    <style type="text/css">

    </style>
    
    <div class="patient-details">
        <div class="info">
            <h1>Patients</h1>
        </div>
        <div class="card">
        {% for patient in patients %}
                <a href="{% url 'patient_pro' patient.pk%}">
                    <div class="pateint-cards">
                        <h3><i class="fa-solid fa-hospital-user" style="color: :white;font-size: 2.5rem"></i></h6>
                        <h3>Name: {{patient.first_name}} {{patient.last_name}}</h6>
                        <h3>Email: {{patient.email}}</h6>
                    </div>
                </a>
        {% endfor %}    
        </div>
        
        </div>
    </div>



    {% endblock %}

