<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form method="post" action="">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <p><input type="submit" value="Sign Up"></p>
        </form>
        <p>Already have an account? &nbsp;<a href="{% url 'login' %}">Login</a></p>
    </div>
</body>
</html>
